<!DOCTYPE html>
<html>
<head>
  <title>Greeting</title>
</head>
<body>
  <% if (isLoggedIn) { %>
    <h1>Welcome back, <%= userName %>!</h1>
  <% } else { %>
    <h2>Please log in to continue</h2>
  <% } %>
</body>
</html>
