<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uploads</title>
</head>
<body>
    <form action="/uploads" method="post" enctype="multipart/form-data">
        <label for="">File uploads</label>
        <input type="file" name="file" multiple>
        <button type="submit">Uplods</button>

    </form>
</body>
</html>