<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form </title>
</head>
<body>
    <form action="/form" method="post" enctype="multipart/form-data">

        <input type="text" name="name" placeholder="Name"><br><br>
        <input type="email" name=" email" placeholder="email"><br><br>
        <input type="number" name="number" placeholder="Phone-number"><br><br>
        <input type="file" name="resume"><br><br>
        <button type="submit">Upload</button><br>
    </form>
    
</body>
</html>